body {
    font-family: 'Muli', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ff-m {
    font-family: 'Montserrat';
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.grid > button:last-child {
    grid-column: span 2 / auto;
}
.jump {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.jump:hover {
    transform: translateY(-5px);
}
